<div class="d-flex flex-row">
  <div class="col-12">
    <h4>AMW Meetings
      <button class="btn btn-sm btn-primary ms-3 pull-right" (click)="showAddEditModal()"><i
          class="fas fa-plus me-2"></i>Schedule
        New Meeting</button>
    </h4>
    <hr />
  </div>
</div>

<div class="container card p-3" style="height: 450px;">
  <ul class="nav nav-pills pb-3">
    <li class="nav-item">
      <a class="nav-link cursor-pointer" [ngClass]="{'active': meetingTab === 'previous'}" data-toggle="tab"
        (click)="getMeetings('previous')">Previous Meetings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link cursor-pointer" [ngClass]="{'active': meetingTab === 'all'}" data-toggle="tab"
        (click)="getMeetings('all')">All
        Meetings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link cursor-pointer" [ngClass]="{'active': meetingTab === 'coming'}" data-toggle="tab"
        (click)="getMeetings('coming')">Coming Meetings</a>
    </li>
  </ul>
  <div class="tab-content pt-0">
    <div class="tab-pane active" role="tabpanel">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item" [ngClass]="{'pt-3': i > 0}" *ngFor="let meeting of meetingsList; let i=index">
          <p class="accordion-header d-flex" id="headingTwo_{{i}}">
            <button (click)="getMeetingUsers(meeting)" class="accordion-button bg-gray collapsed w-100 h-25 p-2"
              type="button" data-bs-toggle="collapse" attr.data-bs-target="#meeting_{{i}}" aria-expanded="false"
              attr.aria-controls="meeting_{{i}}">
              <div class="row w-100" style="color: #0d6efd;">
                <div class="col-md-6">
                  <i class="icon-calendar pe-2"></i>{{meeting.title}}
                </div>
                <div class="col-md-2">
                  <i class="fa fa-calendar-o pe-1" aria-hidden="true"></i>{{meeting.meetingDate |
                  date:'dd-MM-yyyy'}}
                </div>
                <div class="col-md-1">
                  <button class="border-0">
                    <a href="{{meeting.uuZoomId}}amw-zoom{{currentUser._id}}" target="_blank">
                      <i class="fa fa-solid fa-link pe-2">&nbsp;Join</i>
                    </a>
                  </button>
                </div>

                <div class="col-md-2 d-flex justify-content-center">
                  <div class="row">
                    <div class="col">
                      <i class="fa fa-users">&nbsp;&nbsp;</i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="numberCircle" style="width: 200%;">{{meeting.totalUsers}}</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-1 ps-4">
                  <button class="border-0">
                    <i class="fa fa-trash text-danger" aria-hidden="true" (click)="showMeetingDeleteModal(meeting)"></i>
                  </button>
                </div>
              </div>
            </button>
          </p>
          <div id="meeting_{{i}}" class="accordion-collapse collapse" attr.aria-labelledby="headingTwo_{{i}}"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr class="text-nowrap">
                    <th>S.No</th>
                    <th>Username</th>
                    <th>Email I'd</th>
                    <th>Acknowledgement</th>
                  </tr>
                </thead>
                <tbody class="text-wrap">
                  <tr *ngFor="let user of meetingUsersList; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{user.userId.userName}}</td>
                    <td>{{user.userId.email}}</td>
                    <td>{{user.userAck ? 'Yes' : 'No'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <pre [innerHtml]="meetingUsersList | json"> </pre> -->

<!-- Create Meeting Modal -->
<div bsModal #showAddEditUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false, animated: true}">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">
          Schedule Meeting</h6> <button type="button" class="close" aria-label="Close" (click)="closeModel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row row-xs align-items-center">
          <div class="mb-3">
            <label for="title" class="form-label">Meeting Title
              <sup [ngClass]="checkvalidation('title')"><i class="fas fa-star fa-xs"></i></sup>
            </label>
            <input type="text" class="form-control" id="title" placeholder="Enter meeting title" name="title"
              [(ngModel)]="meetingInfo.title">
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Meeting Title
              <sup [ngClass]="checkvalidation('title')"><i class="fas fa-star fa-xs"></i></sup>
            </label>
            <ng-multiselect-dropdown name="users" [(ngModel)]="meetingInfo.userIds" [data]="usersList"
              [placeholder]="'Select AMW Users'" [settings]="usersDropdownSettings" [disabled]="disabled">
            </ng-multiselect-dropdown>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-md-4">
                <label for="title" class="form-label">Date (Options)
                </label>
                <div class="input-group">
                  <span class="input-group-text" (click)="dp.toggle()">
                    <i class="icon-calendar"></i>
                  </span>
                  <input type="text" class="form-control" #dp="bsDatepicker" name="daterange" autocomplete="off"
                    bsDatepicker
                    [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }"
                    placeholder="D.O.B" [(bsValue)]="meetingInfo.meetingDate">
                </div>
              </div>
              <div class="col-md-4">
                <label for="title" class="form-label">From Time (Options)
                </label>
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="icon-calendar"></i>
                  </span>
                  <input type="time" class="form-control" name="daterange" autocomplete="off" placeholder="From time"
                    [(ngModel)]="meetingInfo.from">
                </div>
              </div>
              <div class="col-md-4">
                <label for="title" class="form-label">To Time (Options)
                </label>
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="icon-calendar"></i>
                  </span>
                  <input type="time" class="form-control" name="to" placeholder="To time" [(ngModel)]="meetingInfo.to">
                </div>
              </div>
            </div>
          </div>
          <!-- <pre [innerHtml]="meetingInfo | json"> </pre> -->
        </div>
      </div>
      <app-alert></app-alert>
      <div class="modal-footer border-top-0  justify-content-start">
        <button type="submit" class="btn btn-primary" (click)="addMeeting()">Schedule
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Meeting Modal -->
<div bsModal #deleteMeetingModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false, animated: true}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-trash"></i> Delete Meeting</h4>
        <button type="button" class="close" (click)="closeModel()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Are you sure want to delete this Meeting?</h4>
        <br>
        <p>
          <b>Meeting Name :</b> {{meetingInfo.title}} <br />
        </p>
        <p>
          <b>Meeting Date & Time :</b> {{meetingInfo.meetingDate | date:'dd-MM-YYYY HH:MM:SS'}} <br />
        </p>
      </div>
      <div class="modal-footer border-top-0 d-flex  justify-content-start">
        <button type="button" class="btn btn-default me-1" (click)="closeModel()">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteMeeting()">Delete</button>
      </div>
    </div>
  </div>
</div>