<div class="d-flex flex-row">
  <div class="col-12">
    <h4>AMW Meetings

      <button class="btn btn-sm btn-primary ms-3 pull-right" (click)="showAddEditModal()"><i
          class="fas fa-plus me-2"></i>Create
        New Group Meeting</button>
    </h4>
    <hr />
  </div>
</div>
<div class="container-fluid app-user bg-white py-3 dataDisplaySection">
  <!-- list -->
  <table [dtOptions]="dtOptions" datatable [dtTrigger]="dtTrigger"
    class="table table-bordered table-hover table-striped">
    <thead>
      <tr class="text-nowrap">
        <th>S.No</th>
        <th>Username</th>
        <th>Email I'd</th>
        <th>Account Type</th>
        <th>Created At</th>
        <th>Status</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody class="text-wrap">
      <tr *ngFor="let user of usersList; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role === 'admin' ? 'Admin' : 'User'}}</td>
        <td>{{user.createdAt | date:'d/M/yyyy'}}</td>
        <td>
          <ui-switch (change)="changeUserStatus(user)" [(ngModel)]="user.status" color="#4285F4"
            defaultBgColor="#d9d9d9" labelOn="Active" labelOff="Inactive">
          </ui-switch>
        </td>
        <td class="text-center">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-sm edit me-1" (click)="showAddEditModal(user)"><i
                class="far fa-edit"></i></button>
            <button type="button" class="btn btn-sm delete" (click)="showUserDeleteModal(user)"><i
                class="far fa-trash-alt"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <pre [innerHtml]="usersList | json"> </pre> -->

<div bsModal #showAddEditUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false, animated: true}">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">
          Create Meeting</h6> <button type="button" class="close" aria-label="Close" (click)="closeModel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="min-height: 450px;">
        <div class="row row-xs align-items-center">
          <div class="mb-3">
            <label for="title" class="form-label">Meeting Title
              <sup [ngClass]="checkvalidation('title')"><i class="fas fa-star fa-xs"></i></sup>
            </label>
            <input type="text" class="form-control" id="title" maxlength="15" placeholder="Enter meeting title"
              name="title" [(ngModel)]="userInfo.title">
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Meeting Title
              <sup [ngClass]="checkvalidation('title')"><i class="fas fa-star fa-xs"></i></sup>
            </label>
            <ng-multiselect-dropdown name="users" [(ngModel)]="userInfo.userIds" [data]="usersList"
              [placeholder]="'Select AMW Users'" [settings]="usersDropdownSettings" [disabled]="disabled">
            </ng-multiselect-dropdown>
          </div>
          <pre [innerHtml]="userInfo | json"> </pre>
        </div>
      </div>
      <app-alert></app-alert>
      <div class="modal-footer border-top-0  justify-content-start">
        <button type="submit" class="btn btn-primary" (click)="addMeeting()">Save
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static', keyboard: false, animated: true}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-trash"></i> Delete User</h4>
        <button type="button" class="close" (click)="closeModel()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Are you sure want to delete this User?</h4>
        <p>
          <b>User Name :</b> {{userInfo.title}} <br />
        </p>
      </div>
      <div class="modal-footer border-top-0 d-flex  justify-content-start">
        <button type="button" class="btn btn-default me-1" (click)="closeModel()">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete</button>
      </div>
    </div>
  </div>
</div>
