<div class="d-flex flex-row">
  <div class="col-12">
    <h4>AMW Meetings

      <button class="btn btn-sm btn-primary ms-3 pull-right" (click)="showAddEditModal()"><i
          class="fas fa-plus me-2"></i>Schedule
        New Meeting</button>
    </h4>
    <hr />
  </div>
</div>
<div class="container-fluid app-user bg-white py-3 dataDisplaySection">
  <!-- list -->
  <!-- <table [dtOptions]="dtOptions" datatable [dtTrigger]="dtTrigger"
    class="table table-bordered table-hover table-striped">
    <thead>
      <tr class="text-nowrap">
        <th>S.No</th>
        <th>Username</th>
        <th>Email I'd</th>
        <th>Account Type</th>
        <th>Created At</th>
        <th>Status</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody class="text-wrap">
      <tr *ngFor="let user of usersList; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role === 'admin' ? 'Admin' : 'User'}}</td>
        <td>{{user.createdAt | date:'d/M/yyyy'}}</td>
        <td>
          <ui-switch (change)="changeUserStatus(user)" [(ngModel)]="user.status" color="#4285F4"
            defaultBgColor="#d9d9d9" labelOn="Active" labelOff="Inactive">
          </ui-switch>
        </td>
        <td class="text-center">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-sm edit me-1" (click)="showAddEditModal(user)"><i
                class="far fa-edit"></i></button>
            <button type="button" class="btn btn-sm delete" (click)="showUserDeleteModal(user)"><i
                class="far fa-trash-alt"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table> -->


  <table class="table">

    <thead>
      <tr>
        <th scope="col">Sn.No</th>
        <th scope="col">Meeting Title</th>
        <th scope="col">Total User</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let meeting of meetingsList; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{meeting.title}}</td>
        <td>{{meeting.totalUsers}}</td>
      </tr>
    </tbody>

  </table>

  <br>
  <br>



  <div class="accordion accordion-flush" id="accordionFlushExample" *ngFor="let meeting of meetingsList; let i=index">

    <div class="accordion-item">

      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          {{meeting.title}}
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
          <code>.accordion-flush</code> class. This is the first item's accordion body.
        </div>
      </div>
    </div>

  </div>







</div>
<!-- <pre [innerHtml]="usersList | json"> </pre> -->

<div bsModal #showAddEditUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false, animated: true}">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">
          Schedule Meeting</h6> <button type="button" class="close" aria-label="Close" (click)="closeModel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="min-height: 450px;">
        <div class="row row-xs align-items-center">
          <div class="mb-3">
            <label for="title" class="form-label">Meeting Title
              <sup [ngClass]="checkvalidation('title')"><i class="fas fa-star fa-xs"></i></sup>
            </label>
            <input type="text" class="form-control" id="title" placeholder="Enter meeting title" name="title"
              [(ngModel)]="userInfo.title">
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Meeting Title
              <sup [ngClass]="checkvalidation('title')"><i class="fas fa-star fa-xs"></i></sup>
            </label>
            <ng-multiselect-dropdown name="users" [(ngModel)]="userInfo.userIds" [data]="usersList"
              [placeholder]="'Select AMW Users'" [settings]="usersDropdownSettings" [disabled]="disabled">
            </ng-multiselect-dropdown>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-md-4">
                <label for="title" class="form-label">Date (Options)
                </label>
                <div class="input-group">
                  <span class="input-group-text" (click)="dp.toggle()"
                    [ngClass]="{'text-danger' : !userInfo.meetingDate, 'text-success':userInfo.meetingDate}">
                    <i class="icon-calendar"></i>
                  </span>
                  <input type="text" class="form-control" #dp="bsDatepicker" name="daterange" autocomplete="off"
                    bsDatepicker
                    [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }"
                    placeholder="D.O.B" [(bsValue)]="userInfo.meetingDate">
                </div>
              </div>
              <div class="col-md-4">
                <label for="title" class="form-label">From Time (Options)
                </label>
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="icon-calendar"></i>
                  </span>
                  <input type="time" class="form-control" name="daterange" autocomplete="off" placeholder="From time"
                    [(ngModel)]="userInfo.from">
                </div>
              </div>
              <div class="col-md-4">
                <label for="title" class="form-label">To Time (Options)
                </label>
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="icon-calendar"></i>
                  </span>
                  <input type="time" class="form-control" name="to" placeholder="To time" [(ngModel)]="userInfo.to">
                </div>
              </div>
            </div>
          </div>
          <pre [innerHtml]="userInfo | json"> </pre>
        </div>
      </div>
      <app-alert></app-alert>
      <div class="modal-footer border-top-0  justify-content-start">
        <button type="submit" class="btn btn-primary" (click)="addMeeting()">Schedule
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static', keyboard: false, animated: true}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-trash"></i> Delete User</h4>
        <button type="button" class="close" (click)="closeModel()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Are you sure want to delete this User?</h4>
        <p>
          <b>User Name :</b> {{userInfo.title}} <br />
        </p>
      </div>
      <div class="modal-footer border-top-0 d-flex  justify-content-start">
        <button type="button" class="btn btn-default me-1" (click)="closeModel()">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete</button>
      </div>
    </div>
  </div>
</div>