<div class="app-body app-login">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-8 mx-auto">
          <div class="card p-4 mb-0 position-relative">
            <div class="d-flex custom-border">
              <span class="secondary-bg"></span>
              <span class="primary-bg"></span>
              <span class="secondary-bg"></span>
              <span class="primary-bg"></span>
            </div>
            <div class="card-body text-center">
              <div class="row p-4">
                <img src="assets/img/brand/AMW_Logo.png" alt="company-logo" class="d-block mx-auto"
                  style="width: 12rem;">
                <h3 class="pt-3 login-heading text-danger">
                  AMW ZOOM
                </h3>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <!-- <button type="button" id="login-btn" class="btn btn-primary px-4 d-flex align-items-center"
                    (click)="loginWithGoogle()">
                    <img src="assets/img/brand/google-logo.png" alt="google-logo" class="me-2 shadow bg-light">
                    <span>CONTINUE WITH GOOGLE</span>
                  </button> -->
                </div>
              </div>
            </div>
            <!-- <div class="card-body text-center">
              <div class="row p-4">
                <div class="col-12 d-flex justify-content-center align-items-center">
                  <img src="assets/img/brand/loader.gif" alt="loader" class="d-block mx-auto" style="width: 150px">
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
