<div class="d-flex flex-row">
  <div class="col-12">
    <h5>Configure Your Setting as per your business theme.</h5>
    <hr />
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card h-100 p-5">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-12">
              <div class="d-flex justify-content-center align-items-start">
                <label for="fileToUpload" class="rounded-squre">
                  <div class="profile-pic cursor-pointer">
                    <img id="ImgPreview" src="assets/img/brand/AMW_Logo-2.png" class="rounded-squre" />
                    <span><i class="fas fa-camera me-2 "></i>Upload Image</span>
                  </div>
                  <input type="File" name="fileToUpload" id="fileToUpload" class="form-control d-none" accept="image/*"
                    (change)="onFileChange($event)">
                </label>
                <button *ngIf="this.selectedFiles.imageUrl || currentUser.profileImage" class="rmv"><i
                    class="fa fa-times"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="row mb-3 pt-5">
            <label class="col-md-2">
              Company Domain <sup><i class="fas fa-star text-danger fa-xs"></i></sup>
            </label>
            <div class="col-md-8">
              <input type="text" class="form-control" placeholder="Last name" name="Title">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-md-2 ">
              Company Title <sup><i class="fas fa-star text-danger fa-xs"></i></sup>
            </label>
            <div class="col-md-8">
              <input type="text" class="form-control" placeholder="Last name" name="Title">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-md-2 ">
              Theme color <sup><i class="fas fa-star text-danger fa-xs"></i></sup>
            </label>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <b class="p-3 pr-1"> Primary</b>
                  <input type="color" name="primary" class="form-control">
                </div>
                <div class="col-md-6">
                  <b class="p-3 pr-1"> Secondary</b>
                  <input type="color" name="secondary" class="form-control">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
